.section1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;

  &__heading {
    color: black;
    margin-bottom: 20px;

    @include breakpoint(mobile) {
      margin-bottom: 10px;
    }
  }

  &__btns {
    display: flex;
    gap: 20px;
  }

  p {
    margin-bottom: 20px;

    @include breakpoint(mobile) {
      margin-bottom: 15px;
    }
  }
}

.btn-s1 {
  background-color: #2980b9;

  &:hover {
    background-color: #69b1e0;
    text-decoration: none;
  }
}
